<<<<<<< HEAD

.jumbotron {
  background-image: url("../images/bact.jpg") ;
   background-size: cover;
   text-align: center;
   text
  }
  
#selDataset {
  font-size: 14px;
  font-family: 'Playfair Display', serif;
}
p {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
}
.belly-bg {
  background-color: rgb(34,94,168)!important
}
hr{ 
  width:100%;
  height:5px;
  background: lightgrey;
}
=======
  .jumbotron {
    background-image: url("../images/bacteria.jpg");
     background-size: cover;
     text-align: center;
    }
h1 {
  color: white;
}
p {
  color: white;
}
>>>>>>> 6eb5f7f96f65fcc9692862e94085b279ec6b6224
